.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    
}

.containerTopBar {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.containerTopBarControls {
    padding-top: 53px;
    position: relative;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.containerTopBarImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.containerTopBarImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    height: 540px;
    overflow: hidden;
}

.containerTopBarGradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #141414DB, #141414 100%);
}

.containerActions {
    display: flex;
    width: calc(100% - 80px);
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 40px;
    margin-right: 40px;
}

.containerCreator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.containerButtons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.imageCreator {
    width: 80px;
    height: 80px;
    border-radius: 99px;
    margin-top: 24px;
}

.creatorName {
    color: #FFF;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    margin-top: 24px;
}

.creatorMetadata {
    color: #8C8C8C;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: 14px;
}

.creatorDescription {
    color: #8C8C8C;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: 14px;
}

.containerChannelButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.containerTabButtons {
    width: calc(100% - 80px);
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 24px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}