.visual {
  background-color: black;
}

.transitionanim.visible {
  transition: opacity var(--fade-duration, 200ms) ease-in;
  opacity: 1;
}

.transitionanim.hidden {
  opacity: 0;
}

.errorText {
  color: var(--white-color);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notloaded {
  display: none;
}