.loader {
  --T: calc(var(--size) / 10);
  width: var(--size);
  height: var(--size);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 100%;
  padding-bottom: 100%;
  box-shadow: inset 0 0 0 0 #fff;
  animation: pulseInOut 1.8s ease-in-out infinite;
  filter: drop-shadow(0 0 1rem rgb(from var(--white-color)  r g b / 0.75));
}

.loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: calc(100% - 2 * var(--T));
  padding-bottom: calc(100% - 2 * var(--T));
  box-shadow: 0 0 0 0 #fff;
  animation: pulseOutIn 1.8s ease-in-out infinite;
  filter: drop-shadow(0 0 1rem rgb(from var(--white-color)  r g b / 0.75));
}

@keyframes pulseInOut {
  0%, 100% {
    box-shadow: inset 0 0 0 0 #fff;
    opacity: 0;
  }
  50% {
    box-shadow: inset 0 0 0 var(--T) #fff;
    opacity: 1;
  }
}

@keyframes pulseOutIn {
  0%, 100% {
    box-shadow: 0 0 0 0 #fff;
    opacity: 0;
  }
  50% {
    box-shadow: 0 0 0 var(--T) #fff;
    opacity: 1;
  }
}