[Desktop Entry]
Version=1.0
Type=Application

Name=Grayjay
Comment=Universal media aggregator
Categories=AudioVideo;Player;

Icon=app.grayjay.Grayjay
Exec=Grayjay
Terminal=false
