.scrollWrapper {
    position: relative;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.containerScroll {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: 8px;
    scrollbar-color: #555 #333;
    scrollbar-width: thin;
    width: 100%;
}

.containerScroll::-webkit-scrollbar {
    width: 10px;
}

.containerScroll::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 5px;
}

.containerScroll::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

.containerScroll::-webkit-scrollbar-track {
    background-color: #333;
}

.containerScroll::-webkit-scrollbar-corner {
    background-color: transparent;
}

.scrollButton {
    position: absolute;
    bottom: 10px;
    right: 22px;
    z-index: 999;
}