.containerScroll {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    position: relative;
    scrollbar-width: 8px;
    scrollbar-color: var(--grey-color-5) var(--grey-color-6);
    scrollbar-width: thin;
}

.containerScroll::-webkit-scrollbar {
    width: 10px;
}

.containerScroll::-webkit-scrollbar-thumb {
    background-color: var(--grey-color-5);
    border-radius: 5px;
}

.containerScroll::-webkit-scrollbar-thumb:hover {
    background-color: var(--grey-color-4);
}

.containerScroll::-webkit-scrollbar-track {
    background-color: var(--grey-color-6);
}

.containerScroll::-webkit-scrollbar-corner {
    background-color: transparent;
}