.sidebar {
    width: 260px;
    height: calc(100vh - 20px);
    border-right: #2E2E2E 1px solid;
    background: #1B1B1B;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    /*transition: width 0.3s ease;*/
    position: relative;
}

.sidebar.collapsed {
    width: 48px;
    margin-left: auto;
    margin-right: auto;
}

.buttonList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}
.buttonListFill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    height: 100%;
    margin-top: 10px;
    margin-bottom:10px;
    padding-bottom: 48px;
    flex-shrink: 1;
    min-height: 0px;
}
.buttonListBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    border-top: 1px solid #2E2E2E;
    padding-bottom: 0px;
    padding-top: 10px;
    flex-shrink: 0;
}

.collapse {
    width: 24px;
    height: 24px;
    padding: 16px;
    cursor: pointer;
}

.containerCollapse {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: end;
    margin-top: 16px;
    margin-left: 4px;
    margin-right: auto;
    margin-bottom: 4px;
}

.expandHeader {
    position: relative;
    width: 98%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    letter-spacing: 2.94px;
    color: #8C8C8C;
    font-size: 14px;
    cursor: pointer;
}
.expandHeader .toggle {
    position: absolute;
    right: 20px;
    height: 100%;
}
.expandHeader.expanded .toggle img {
    transform: rotate(180deg);
}

.expandItems {
    height: 100%;
    width: 100%;
}

.grayjay {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    gap: 8px;
    width: 100%;
    margin-left: 4px;
    margin-bottom: 8px;
    color: #FFF;
    font-family: Sen;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
}