

.container {
    width: 50%;
    max-width: 600px;
    position: relative;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 12px;
    border: 1px solid #2E2E2E;
    background: #141414;
    box-shadow: 0px 1.648px 3.148px 0px rgba(0, 0, 0, 0.10), 0px 7.252px 6.519px 0px rgba(0, 0, 0, 0.16), 0px 17.8px 13px 0px rgba(0, 0, 0, 0.21), 0px 34.281px 25.481px 0px rgba(0, 0, 0, 0.26), 0px 57.685px 46.852px 0px rgba(0, 0, 0, 0.32), 0px 89px 80px 0px rgba(0, 0, 0, 0.42);
}

.header {
    margin-bottom: 10px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: calc(100% - 48px);
    align-items: center;
}
.header .headerText {
    font-size: 25px;
    font-weight: bold;

}
.header .headerSubText {
    font-size: 14px;
    color: #AAA;
    margin-top: 5px;
}

.closeButton {
    position: absolute;
    display: grid;
    justify-content: center;
    align-items: center;;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 48px;
    background: #2E2E2E;
    cursor: pointer;
}
.closeButton img {
    width: 24px;
    height: 24px;
}
.sources {
    width: 350px;
    display: inline-block;
    vertical-align: top;
    max-height: 80%;
    overflow-y: auto;
    max-height: 800px;
    scrollbar-width: thin;
    scrollbar-color: #555 #333;
}

.source {
    position: relative;
    padding: 8px 12px 8px 40px;
    margin-left: 12px;
    margin-right: 12px;
    cursor: pointer;
}
.source .name {
    color: #CDCDCD;
    text-overflow: ellipsis;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    max-width: 170px;
}
.source.full .name {
    max-width: 100%;
}
.source .meta {
    max-width: 100px;
    overflow: hidden;
    font-size: 12px;
    text-overflow: ellipsis;
    color: #8C8C8C
}
.source.hasSubs .meta {
    display: hidden;
}
.source .imgContainer {
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 10px;
}
.source img {
    
    height: 16px;
    width: 16px;
    display: none;
}

.source.enabled {
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.04);
}
.source.enabled img {
    display: block;
}
.source.enabled .name {
    color: #F0F0F0;
    font-weight: 600;
}

.subSourceHeader {
    font-size: 14px;
    margin-left: 30px;
    font-weight: bold;
    margin-top: 20px;
}

.pairingUrl {
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    align-items: flex-start;
    overflow: hidden;
    border-radius: var(--Corner-radius-80, 8px);
    border: 1px solid #454545;
    background: #1B1B1B;
    color: white;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 112.5% */
    overflow-wrap: anywhere;
    user-select: text;
    margin-top: 8px;
}

.pairingUrl:hover {
    border: 1px solid #7a7a7a;
}

.errorCard {
    border-radius: 6px;
    background: rgba(249, 112, 102, 0.10);
    display: flex;
    height: 36px;
    padding: 10px 12px;
    align-items: center;
    justify-content: center;
    gap: 6px;
    color: #F97066;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.warningCard {
    border-radius: 6px;
    background: rgba(244, 162, 97, 0.10);
    display: flex;
    height: 36px;
    padding: 10px 12px;
    align-items: center;
    justify-content: center;
    gap: 6px;
    color: #F4A261;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}