.toggleViewTypes {
    height: 36px;
    margin: 4px;
    border-radius: 6px;
    border: 1px solid var(--grey-color-6);
    overflow: hidden;
    flex-shrink: 0;
}
.toggleViewType {
    height:auto;
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-color: var(--black-color-2);
}
.toggleViewType.enabled {
    background-color: #262626 !important;
}

.toggleViewType img {
    padding: 10px;
    width: 16px;
    height: 16px;
}