.container {
    position: relative;
}

.container::-webkit-scrollbar {
    width: 10px;
}

.container::-webkit-scrollbar-thumb {
    background-color: var(--grey-color-5);
    border-radius: 5px;
}

.container::-webkit-scrollbar-thumb:hover {
    background-color: var(--grey-color-4);
}

.container::-webkit-scrollbar-track {
    background-color: var(--grey-color-6);
}

.container::-webkit-scrollbar-corner {
    background-color: transparent;
}

.grid {
}

.settingsMenu {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%; 
    width: 200px;
}
.settingsContainer {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: calc(100% - 200px);
}