body {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;

  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #141414;
  color: white;
  user-select: none;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.droparea {
  position:fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
  user-select: none;
}
.droparea .text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  user-select: none;
}

.root-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.root-content {
  flex-grow: 1;
  max-height: 100vh;
  overflow: hidden;
  background-color: #141414;
}

.icon {
  color: white;
}

img {
  -webkit-user-drag: none;
}

a {
  color: inherit; 
  text-decoration: inherit
}