.toggle {
    border-radius: 30px;
    width: 52px;
    height: 32px;
    background-color: rgb(from var(--white-color)  r g b / .13);
    display: inline-block;
    transition: background-color 0.5s;
    cursor: pointer;
}
.toggle .thumb {
    width: 22px;
    height: 22px;
    margin-top: 5px;
    margin-left: 5px;
    background-color: var(--white-color);
    border-radius: 25px;
    transition: margin-left 0.5s;
}

.toggle.enabled .thumb {
    margin-left:25px;
}

.toggle.enabled {
    background-color: var(--blue-color-1);
}