.containerGroup {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid #353535;
    overflow: hidden;
    height: 44px;
    width: fit-content;
}

.containerButton {
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--grey-color-4);
    gap: 12px;
    padding-left: 24px;
    padding-right: 24px;
}

.containerButton.active {
    background: rgb(from var(--white-color)  r g b / 0.06);
    color: var(--white-color);
}