.containerCastingBackground {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0F0F0FDB;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.containerCasting {
    display: flex;
    min-width: 468px;

    box-sizing: border-box;
    padding: 16px 24px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 12px;
    border: 1px solid #2E2E2E;
    background: #141414;

    /* Drop Shadow */
    box-shadow: 0px 2px 21px 0px rgba(0, 0, 0, 0.55), 0px 32px 64px 0px rgba(0, 0, 0, 0.56);
}

.containerCastingHeader {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.containerCastingHeaderTitle {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
}

.closeButton {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #2E2E2E;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.closeButton img {
    width: 19px;
    height: 19px;
}

.containerNoDevicesFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 64px;
}

.containerNoDevicesFoundTitle {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    margin-top: 24px;

    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.containerHeader {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;

    color: #8C8C8C;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
}

.containerHeader img {
    width: 18px;
    height: 18px;
    margin-left: 2px;
}

.containerLoader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.containerDevices {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    margin-top: 12px;
    width: 100%;
}

.containerDevice {
    width: 100%;
    padding: 12px 16px 12px 16px;
    gap: 16px;

    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;

    cursor: pointer;
}

.containerDevice:hover {
    background-color: #1B1B1B;
}

.containerDevice img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.deviceName {
    color: #F0F0F0;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 150% */

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 300px;
}

.deviceType {
    color: #8C8C8C;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px; /* 114.286% */
    max-width: 300px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.containerAddManually {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.helpIcon {
    width: 14px;
    height: 14px;
}

.helpText {
    color: #019BE7;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 22.4px */
}

.helpContainer {
    flex-shrink: 0; 
    
    display: flex; 
    flex-direction: row; 
    gap: 8px; 
    align-items: center; 
    height: 48px; 
    cursor: pointer;
}

.containerUnableToSeeDevice {
    display: flex; 
    flex-direction: column; 
    flex-grow: 1;

    color: #8C8C8C;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px; /* 133.333% */
}