.container {
    height: 100%;
    position: relative;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
}

.container::-webkit-scrollbar {
    width: 10px;
}

.container::-webkit-scrollbar-thumb {
    background-color: var(--grey-color-5);
    border-radius: 5px;
}

.container::-webkit-scrollbar-thumb:hover {
    background-color: var(--grey-color-4);
}

.container::-webkit-scrollbar-track {
    background-color: var(--grey-color-6);
}

.container::-webkit-scrollbar-corner {
    background-color: transparent;
}

.grid {
}