.container {
    width: calc(100% - 20px);
    height: auto;
    display: flex;
    flex-direction: column;
}

.container:hover {
    cursor: pointer;
}

.videoThumbnail {
    width: 100%;
    height: auto;
    border-radius: 6px;
    aspect-ratio: 16/9;
    flex-shrink: 0;
    background-size: cover;
    position: relative;
    transition: transform 0.5s ease;
}
.videoThumbnail .image {
    position:absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}
.container:hover .videoThumbnail {
    transform: scale(1.05);
}
.sourceIcon {
    position: absolute;
    bottom: 12px;
    left: 12px;
    width: 28px;
}

.duration {
    border-radius: 4px;
    background: rgb(from var(--black-color-3)  r g b / 0.93);
    position: absolute;
    right: 12px;
    bottom: 12px;
    color: var(--grey-color-3);
    padding: 6px 8px;
    color: var(--white-color);

    /*leading-trim: both; -NOT SUPPORTED YET BY BROWSERS*/
    
    /*text-edge: cap; -NOT SUPPORTED YET BY BROWSERS*/

    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}
.isLive {
    border-radius: 4px;
    background: red;
    position: absolute;
    right: 12px;
    bottom: 12px;
    color: var(--grey-color-3);
    padding: 6px 8px;

    padding: 5px 8px;


    color: var(--white-color);


    

    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;


    color: var(--white-color);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}
.isPlanned {
    border-radius: 3px;
    background: var(--grey-color-8);
    position: absolute;
    right: 12px;
    bottom: 12px;
    color: var(--grey-color-3);
    padding: 6px 8px;
    color: var(--white-color);


    
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.title {
    font-size: 16px;
    margin-top: 14px;
    
    font-weight: 400;
    height: 4em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2em;
    max-height: 2.4em;  
}

.bottomRow {
    display: flex;
    flex-direction: row;
    margin-top: 6px;
    font-size: 15px;
    color: var(--grey-color-2);
    align-items: center;
    overflow: hidden;
}

.authorThumbnail {
    width: 30px;   
    height: 30px;
    border-radius: 50%;
}

.authorColumn {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    flex-grow: 1;
    margin-right: 16px;
    overflow: hidden;
}

.authorName {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.2em;
    height: 1.2em;
    flex-grow: 1;
}

.metadata {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.2em;
    height: 1.2em;
    flex-grow: 1;
}

.progressBar {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 3px;
}
.progressBarProgress {
    height: 3px;
    background-color: var(--grey-color-6)3FFAA;
}