

.root {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(15, 15, 15, 0.86);
    display: grid;
    align-items: center;
    justify-content: center;
}

.dialog {
    position: relative;
    padding: 32px;
    border-radius: 12px;
    border: 1px solid #2E2E2E;
    background: #141414;
    box-shadow: 0px 1.648px 3.148px 0px rgba(0, 0, 0, 0.10), 0px 7.252px 6.519px 0px rgba(0, 0, 0, 0.16), 0px 17.8px 13px 0px rgba(0, 0, 0, 0.21), 0px 34.281px 25.481px 0px rgba(0, 0, 0, 0.26), 0px 57.685px 46.852px 0px rgba(0, 0, 0, 0.32), 0px 89px 80px 0px rgba(0, 0, 0, 0.42);
}

.dialogHeader {
    height: 40px;
    margin-bottom: 40px;
}

.closeButton {
    position: absolute;
    display: grid;
    justify-content: center;
    align-items: center;;
    top: 32px;
    right: 32px;
    width: 40px;
    height: 40px;
    border-radius: 48px;
    background: #2E2E2E;
    cursor: pointer;
    z-index: 9999
}
.closeButton img {
    width: 24px;
    height: 24px;
}