.containerCreator {
    display: flex;
    padding: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #1B1B1B;
    margin-right: 12px;
    margin-bottom: 12px;
    padding: 12px;
}

.thumbnail {
    width: 116px;
    height: 116px;
    border-radius: 50%;
}

.name {
    overflow: hidden;
    color: #F0F0F0;
    text-align: center;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 16px;
    width: 100%;
}

.metadata {
    color: #8C8C8C;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin-top: 12px;
}


.downloadingCard {
    width: 270px;
    height: 230px;
    display: inline-block;
    margin-right: 20px;
}
.downloadingCard .title {
    overflow: hidden;
    color: #F0F0F0;

    leading-trim: both;

    text-edge: cap;
    text-overflow: ellipsis;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    max-height: 20px;
    overflow: hidden;
    margin-top: 10px;
    text-wrap: nowrap;
}
.downloadingCard .author {
    color: #F0F0F0;

    leading-trim: both;

    text-edge: cap;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 5px;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}
.downloadingCard .meta {
    color: #8C8C8C;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 2px;
}

.downloadingCard .downloadThumbnail {
    width: 100%;
    height: 150px;
    position: relative;
    background-color: white;
    background-size: cover;
    border-radius: 8px;
    overflow: hidden;
}
.downloadingCard .statusIcon {
    display: inline-block;
    height: 16px;
    margin-top:0px;
    margin-right: 5px;
    vertical-align: top;
}
.downloadingCard .badgeStatus {
    display: inline-block;
    border-radius: 3px;
    background: #000;
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #D9D9D9;
    border-radius:99px;

    
    text-edge: cap;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 8px;
}
.downloadingCard .badgeSize {
    color: #FFF;
    background-color: black;
    border-radius: 3px;

    leading-trim: both;
    
    text-edge: cap;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 8px;

    position: absolute;
    bottom: 10px;
    left: 10px;
}

.downloadingCard .progress {
    border-radius: 32px;
    background: #FF9737;
    height: 3px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    
}
.downloadingCard .downloadingErrorHover{
    display: block !important;
    position: absolute; 
    left: 10px; 
    right: 10px; 
    top: 60px; 
    background-color: #000000AA; 
    border-radius: 8px; 
    padding: 8px; 
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px; 
    text-align: center;
}