
.root {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .5);
    display: grid;
    align-items: center;
    justify-content: center;
    z-index: 5;
    pointer-events: none;
}


.toast {
    padding: 10px;
    margin-right: 25px;
    background-color: #111;
    border: 1.5px solid #333;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    display:table;
    margin-left: auto;
}
.toast.showing {
    animation: fadeIn 0.5s ease-in;
    opacity: 1;
}
.toast.expired {
    animation: fadeOut 0.5s ease;
    opacity: 0;
}
.toastText {
    font-size: 22px;
    font-weight: lighter;
}
.toastTitle {
    font-weight: 400;
    font-size: 26px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}