.containerGroup {
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 10px;
}

.containerButton {
	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: center;
    height: 44px;
    min-width: 145px;
    padding: 0px 8px;
    gap: 4px;
    border-radius: 99px;
    border: 1px solid rgb(from var(--white-color)  r g b / 0.07);
    background: rgba(99, 101, 240, 0.00);
    color: var(--grey-color-4);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.containerButton:hover {
    cursor: pointer;
}

.containerButton.active {
    background: rgb(from var(--white-color)  r g b / 0.06);
    color: var(--white-color);
}