.container {
    border-radius: 6px;
    font-weight: 600;
    font-size: 20px;
    font-family: "Inter";
    align-items: center;
    width: fit-content;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
    background: linear-gradient(90deg, transparent, #3b3b3b4f);
    border: 1.5px solid var(--grey-color-6);
    position: relative;
    height: 90px;
    display: grid;
    align-items: center;
}

.container.small {
    height: 42px;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
}

.container:hover {
    cursor: pointer;
}

.icon {
    height: 55px;
    width: 55px;
    margin-right: 15px;
    vertical-align: bottom;
    position: absolute;
    left: 32px;
}

.textContainer {
    top: 0px;
    width: calc(100% - 130px);
    height: 100%;
    left: 115px;
    position: absolute;
    display: grid;
    align-items: center;
}
.text {
    text-align: left;
    position: relative;
    width: 100%;
}
.text .title{ 
    color: var(--white-color);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 121.017%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text .description{
    color: var(--grey-color-4);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 40px;
}
/*
.container {
    border-radius: 6px;
    background-color: rgb(from var(--white-color)  r g b / 0.04);
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 600;
    font-size: 20px;
    align-items: center;
    width: fit-content;
    text-align: center;
    box-sizing: border-box;
    height: 48px;
    display: flex;

    color: #EFF9FF;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
/*}

.container.small {
    height: 42px;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
}

.container:hover {
    cursor: pointer;
}

.icon {
    height: 22px;
    width: 22px;
    margin-right: 15px;
}*/