.container {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    height: calc(100% - 24px);
}

.header {
    color: #FFF;
    font-family: Inter;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}