.sideBarButton {
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    box-sizing: border-box;
    display: flex;
    border-radius: 6px;
    flex-direction: row;
    /*border-left: transparent 2px solid;*/
    transition: border-left 0.3s;
}

.sideBarButton:hover {
    cursor: pointer;
    background: rgb(from var(--white-color)  r g b / 0.055);
}

.sideBarButton.selected {
    /*border-left: var(--blue-color-1) 2px solid;*/
    background: rgb(from var(--white-color)  r g b / 0.105);
}

.sideBarButton.collapsed {
        
}

.sideBarButton .icon {
    height: 22px;
    width: 22px;
    margin-left: 14px;
    margin-top: 4px;
    opacity: 0.8;
    transition: margin-left 0.3s;
}

.sideBarButton.selected .icon {
    margin-left: 14px;
}
.sideBarButton.selected .icon {
    opacity: 1.0;
}

.sideBarButton .text {
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    margin-left: 10px;
    opacity: 1;
    color: var(--grey-color-1);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}
.sideBarButton.selected .text {
    color: var(--white-color);
}

.sideBarButton.collapsed .text {
    opacity: 0;
}