.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.topBar {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

.searchBar {
    width: 40%;
}

.grid {
    margin-top: 24px;
    margin-left: 30px;
    position: relative;
    height: 100%;
    overflow: hidden;
}

.subBar {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
    padding-bottom: 10px;
    flex-shrink: 0;
    overflow-x: auto;
    overflow-y: none;
    white-space: nowrap;
    scrollbar-width: thin;
    scrollbar-color: #555 #333;
}

.channel {
    position: relative;
    display:inline-block; 
    height: 105px; 
    width: 88px;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: top;    
    padding: 12px 8px;
    border-radius: 8px;
    background: #1B1B1B;
    text-align: center;
    border: 1px solid transparent;
}
.channel.active {
    border: 1px solid #4D4D4D;
    background: #1B1B1B;
}
.channel.active .channelText {
    color: white;
}
.channelImg {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin-bottom: 5px;
    margin-top: 3px;
}
.channelText {
    color: #989898;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: normal;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2em;
    word-break: break-word;
}
.sourceIcon {
    position: absolute;
    display: grid;
    align-items: center;
    justify-content: center;
    top: 12px;
    right: 20px;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 20px;
    
}
.sourceIcon img {
    max-width: 15px;
    max-height: 15px;
}

.content {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

.subgroups {
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 5px;
    padding-right: 90px;
}
.subGroupExpand {
    display: grid;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 5px;
    width: 80px;
    height: 80px;
    background-color: #222;
    cursor: pointer;
}
.subGroupExpand img {
    height: 20px;
    width: 20px;
}

.subgroup {
    display: inline-block;
    position: relative;
    border-radius: 6px;
    border: 1px solid rgba(173, 32, 220, 0.13);

    background: #1B1B1B;
    width: 170px;
    height: 80px;
    overflow: hidden;
    align-items: center;
    gap: 18px;
    text-align: center;
    overflow: hidden;
    margin-right: 7px;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    cursor: pointer;
}
.subgroup.active {
    border: 2px solid #02C6E7;
    margin-left: 0px;
    margin-right: 6px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.subgroup .editIcon {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 20px;
    width: 20px;
    opacity: 0.5;
}
.subgroup .editIcon:hover {
    opacity: 1;
}
.subgroup .image {
    position: absolute;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    left: -10px;
    top: -10px;
    opacity: 0.5;
    background-size: cover;
    background-position: center;
}
.subgroup .name {
    position: absolute;
    bottom: 10px;
    left: 18px;
    overflow: hidden;
    color: #FFF;
    
    leading-trim: both;
    
    text-edge: cap;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 137.5% */
}
.subgroup .centerText {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: #FFF;
    
    leading-trim: both;
    
    text-edge: cap;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}

.filters {
    margin-left: 24px;
    height: 48px;
}

.filter {
    display: inline-block;
    align-items: center;
    justify-items: center;
    width: 56px;
    padding: 8px 24px;
    border-radius: 6px;
    border: 1px solid #454545;
    margin-right: 8px;

    background: #1B1B1B;
}
.filter.active {
    border: 1px solid #454545;
    background: #2E2E2E;
}
.filter .name {
    color: #555555;
    text-align: center;
    leading-trim: both;

    text-edge: cap;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 19.6px */
}
.filter.active .name {
    color: white !important;
}

.subgroupBanner {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    border-radius: 8px;
    border: 1px solid rgba(1, 155, 231, 0.00);
    
    background: linear-gradient(0deg, rgba(27, 27, 27, 0.90) 0%, rgba(27, 27, 27, 0.90) 100%), linear-gradient(270deg, #01D6E6 -68.7%, #0182E7 97.07%);
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.subgroupBanner .bannerText {
    max-width: 500px;
    flex-grow: 1;
}
.subgroupBanner .bannerTitle {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 12px;
}
.subgroupBanner .bannerDescription {
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.subgroupBanner .bannerButtons {
    text-align: right;
    vertical-align: top;
    margin-top: 10px;
}

.noSubs {
    text-align: center;
    height: 400px; 
    margin-top: calc(50vh - 200px);
    width: 100%;
}
.noSubs .title {
    margin-top: 10px;
    color: #FFF;

    text-align: center;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.noSubs .description {
    margin-top: 10px;
    color: #8C8C8C;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.noSubs .buttons {
    margin-top: 28px;
}