.containerPlaybackQueue {
    border-radius: 12px;
    border: 1px solid rgb(from var(--white-color)  r g b / 0.13);

    padding-top: 32px;
    padding-left: 12px;
    box-sizing: border-box;
}

.title {
    overflow: hidden;
    color: var(--grey-color-0);
    text-overflow: ellipsis;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 83.333% */
}

.metadata {
    overflow: hidden;
    color: var(--grey-color-4);
    text-overflow: ellipsis;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.itemNumber {
    color: var(--grey-color-4);
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
    flex-shrink: 0;
    width: 27px;
    cursor: pointer;
}

.itemNumber:hover {
    color: var(--white-color);
}


.itemTitle {
    overflow: hidden;
    color: var(--grey-color-3);
    text-overflow: ellipsis;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
    cursor: pointer;
    height: 2.4em;
}

.itemAuthor {
    color: var(--grey-color-4);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.itemDrag {
    position: relative;
}

.itemDrag div {
    transition: opacity 0.15s ease;
    opacity: 1;
}

.itemDrag:hover div {
    opacity: 0;
}

.itemDrag .iconDrag {
    transition: opacity 0.15s ease;
    opacity: 0;
}

.itemDrag:hover .iconDrag {
    opacity: 1;
}