.container {
    width: 100%;
    height: 100%;
    position: relative;
    /*padding: 24px;*/
    background-color: black;
}

.container:focus {
    outline: 0px;
}

.containerFullscreen {
    width: 100vw;
    height: 100vh;
}

.controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity 0.1s ease-in-out;
    opacity: 0;
    height: 100%;
}

.resumeButton {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    background-color: rgba(0,0,0,.7);
    border: 1px solid rgba(255,255,255,.15);
    padding: 6px 12px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    color: white;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity 0.1s ease-in-out;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.controlsFullscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: opacity 0.1s ease-in-out;
    opacity: 0;
}

.controlsVisible {
    opacity: 1;
}

.containerCasting {
    position: absolute; 
    top: 0; 
    width: 100%; 
    height: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: black;
}


.containerCasting img {
    height: 100%; 
    width: 100%; 
    object-fit: contain;
}

.captionsContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 18px;
    text-align: center;
    pointer-events: none;

    font-family: InterVariable;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    
}

.captionsContainer div {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4px;
    box-sizing: border-box;
}